<form id="form-moderation" data-type="grid" data-columns="2">
    <input type="hidden" id="requester" value="Name (#ID, IP Address)" />
    <label class="fullWidth">
        <b>Request Type</b>
        <span><select id="type" required>
            <option value="">(select)</option>
            <option value="board">Board Addition</option>
            <option value="thread">Thread Moderation</option>
            <option value="account">Account Moderation</option>
            <option value="other">Other Request</option>
        </select></span>
    </label>
    <label class="hidden ifBoard">
        <b>Board Title</b>
        <span><input type="text" id="board" placeholder="Board" /></span>
    </label>
    <label class="hidden ifBoard">
        <b>Parent Category/Board</b>
        <span><input type="text" id="parent" placeholder="Parent Category/Board" /></span>
    </label>
    <label class="hidden ifThread fullWidth">
        <b>Threads</b>
        <span><textarea id="threads" placeholder="Threads"></textarea></span>
    </label>
    <label class="hidden ifThread fullWidth">
        <b>Move To</b>
        <span><select id="thread-location">
            <option value="">(select)</option>
            <option value="dev">Archive - Complete Thread</option>
            <option value="dev">Archive - Incomplete Thread</option>
            <option value="dev">Archive - Dev/Socials/Comms</option>
            <option value="dev">Development</option>
            <option value="sm">Social Media</option>
            <option value="comm">Communications</option>
            <option value="ooc">Out of Character</option>
        </select></span>
    </label>
    <label class="hidden ifAccount fullWidth">
        <b>Account</b>
        <span><input type="text" id="account" placeholder="URL or Name" /></span>
    </label>
    <label class="hidden ifNotThread fullWidth">
        <b>Request Details</b>
        <span><textarea id="request" placeholder="Request"></textarea></span>
    </label>
    <button type="submit" id="submit" class="fullWidth">Submit</button>
</form>