<header>
    <div id="left-header">
        <div id="header-img"></div>
        <a href="@@prefix/public/index.html"><h1>legacies</h1></a>
    </div>
    <div id="right-header">
        <div id="header-staff">
            <a href="xxx" target="_blank"><div class="staff-icon" title="staff a"><img src="https://picsum.photos/100"></div></a>
            <a href="xxx" target="_blank"><div class="staff-icon" title="staff b"><img src="https://picsum.photos/100"></div></a>
            <a href="xxx" target="_blank"><div class="staff-icon" title="staff c"><img src="https://picsum.photos/100"></div></a>
            <a href="xxx" target="_blank"><div class="staff-icon" title="staff d"><img src="https://picsum.photos/100"></div></a>
        </div>
        <div id="header-line">
            welcome to <b>site location here!</b>
        </div>
        <div id="header-info">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum ante sed nulla sodales, vitae vestibulum felis mollis. Proin tempus vulputate libero, eu mattis justo fermentum eu. Nam eros lacus, posuere ac luctus ut, blandit a sapien. Nam sollicitudin consequat tellus at feugiat. Cras malesuada tortor laoreet volutpat faucibus. Donec at nisi elit. Nulla ligula nisi, sagittis et elit id, porttitor auctor risus. Pellentesque dapibus dolor nunc.
        </div>
    </div>
</header>